<p style="clear:both;">
	<a href="/archlinux/core.png"><img src="/archlinux/core.png" class="overview" alt="core stats"></a>
	<a href="/archlinux/extra.png"><img src="/archlinux/extra.png" class="overview" alt="extra stats"></a>
	<a href="/archlinux/multilib.png"><img src="/archlinux/multilib.png" class="overview" alt="multilib stats"></a>
	<a href="/archlinux/community.png"><img src="/archlinux/community.png" class="overview" alt="community stats"></a>
</p>
<p style="clear:both;">
	<center>
		<a href="/archlinux/archlinux.png"><img src="/archlinux/archlinux.png" alt="total Arch Linux stats"></a>
</p>
